#include <Windows.h>

#include "resources.h"

IDI_ICON1   ICON MOVEABLE PURE "100.ico"

IDB_SPRITE1 BITMAP MOVEABLE PURE "101.bmp"
IDB_SPRITE2 BITMAP MOVEABLE PURE "102.bmp"
IDB_SPRITE3 BITMAP MOVEABLE PURE "103.bmp"
IDB_SPRITE4 BITMAP MOVEABLE PURE "104.bmp"
IDB_SPRITE5 BITMAP MOVEABLE PURE "105.bmp"
IDB_SPRITE6 BITMAP MOVEABLE PURE "106.bmp"
IDB_SPRITE7 BITMAP MOVEABLE PURE "107.bmp"
IDB_SPRITE8 BITMAP MOVEABLE PURE "108.bmp"
IDB_SPRITE9 BITMAP MOVEABLE PURE "109.bmp"
IDB_SPRITEA BITMAP MOVEABLE PURE "110.bmp"
IDB_SPRITEB BITMAP MOVEABLE PURE "111.bmp"

IDC_CURSOR1 CURSOR MOVEABLE PURE "106.cur"

IDD_CONFIG DIALOG MOVEABLE PURE 0, 0, 149, 83
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Mate Poo's Settings"
FONT 9, "MS PGothic"
BEGIN
    CONTROL "&OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 92, 7, 50, 14
    CONTROL "&Cancel", IDCANCEL, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 25, 50, 14
    CONTROL "&Help", IDRETRY, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 43, 50, 14
    CONTROL "&Exit", IDABORT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 92, 61, 50, 14
    CONTROL "&Sound", IDC_CONFIG_SOUND, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 7, 57, 10
    CONTROL "Chi&me", IDC_CONFIG_CHIME, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 23, 69, 10
    CONTROL "Always &moving", IDC_CONFIG_NOSLEEP, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 39, 57, 10
    CONTROL "&Gravity always On", IDC_CONFIG_GFORCE, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_AUTOCHECKBOX, 7, 56, 74, 10
END

IDD_DEBUG DIALOG MOVEABLE PURE 0, 0, 178, 133
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Screen Mate Poo's Debug Window"
FONT 9, "MS PGothic"
BEGIN
    CONTROL "&OK", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON, 129, 112, 42, 14
    CONTROL "Normal", IDC_DEBUG_NORMAL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 7, 37, 10
    CONTROL "Run", IDC_DEBUG_RUN, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 19, 37, 10
    CONTROL "Walk", IDC_DEBUG_WALK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 31, 37, 10
    CONTROL "Handst", IDC_DEBUG_HANDST, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 43, 37, 10
    CONTROL "Sex", IDC_DEBUG_SEX, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 55, 37, 10
    CONTROL "Sleep", IDC_DEBUG_SLEEP, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 67, 37, 10
    CONTROL "Wink", IDC_DEBUG_WINK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 79, 37, 10
    CONTROL "Turn", IDC_DEBUG_TURN, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 91, 37, 10
    CONTROL "Hit", IDC_DEBUG_HIT, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 103, 37, 10
    CONTROL "Piss", IDC_DEBUG_PISS, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 7, 116, 37, 10
    CONTROL "Yawn", IDC_DEBUG_YAWN, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 7, 37, 10
    CONTROL "Baa", IDC_DEBUG_BAA, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 19, 37, 10
    CONTROL "Ohh", IDC_DEBUG_SUPRISE, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 31, 37, 10
    CONTROL "Scary", IDC_DEBUG_SCARY, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 43, 37, 10
    CONTROL "Eat", IDC_DEBUG_EAT, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 55, 37, 10
    CONTROL "Sit", IDC_DEBUG_SIT, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 67, 37, 10
    CONTROL "Sneeze", IDC_DEBUG_SNEEZE, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 79, 37, 10
    CONTROL "Burn", IDC_DEBUG_BURN, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 91, 37, 10
    CONTROL "Merry1", IDC_DEBUG_MERRY1, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 103, 37, 10
    CONTROL "Merry2", IDC_DEBUG_MERRY2, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 46, 116, 37, 10
    CONTROL "Merry3", IDC_DEBUG_MERRY3, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 7, 37, 10
    CONTROL "UFO1", IDC_DEBUG_UFO1, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 19, 37, 10
    CONTROL "UFO2", IDC_DEBUG_UFO2, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 31, 37, 10
    CONTROL "UFO3", IDC_DEBUG_UFO3, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 43, 37, 10
    CONTROL "Roll", IDC_DEBUG_ROLL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 55, 37, 10
    CONTROL "Blush", IDC_DEBUG_BLUSH, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 67, 37, 10
    CONTROL "Slip", IDC_DEBUG_SLIP, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 79, 37, 10
    CONTROL "Fall", IDC_DEBUG_FALL, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 91, 37, 10
    CONTROL "Jump", IDC_DEBUG_JUMP, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 103, 37, 10
    CONTROL "Rotate", IDC_DEBUG_ROTATE, "BUTTON", WS_CHILD | WS_VISIBLE | BS_AUTORADIOBUTTON, 86, 116, 37, 10
    CONTROL "&Up", IDC_DEBUG_UP, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 141, 7, 15, 14
    CONTROL "&Dn", IDC_DEBUG_DOWN, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 141, 41, 15, 14
    CONTROL "&L", IDC_DEBUG_LEFT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 127, 24, 15, 14
    CONTROL "&R", IDC_DEBUG_RIGHT, "BUTTON", WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON, 156, 24, 15, 14
END

IDW_BAA     WAVE MOVEABLE PURE "108.wav"
IDW_YAWN    WAVE MOVEABLE PURE "109.wav"
IDW_SNEEZE  WAVE MOVEABLE PURE "110.wav"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1, 0, 0, 1
PRODUCTVERSION 1, 0, 0, 1
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x1L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Village Center,Inc.\0"
            VALUE "FileDescription", "Screen Mate Poo\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "Screen Mate Poo\0"
            VALUE "LegalCopyright", "Copyright (C) 1996\0"
            VALUE "OriginalFilename", "Scmpoo.exe\0"
            VALUE "ProductName", "Screen Mate Poo\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
